<nav class="navbar navbar-fixed-top navbar-inverse bg-faded header">
  <div class="container">


      <a class="navbar-brand logo" href="#">
        <img class="logo" src="assets/images/header-logo.png" alt="Logo" width="80%">
      </a>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="header-text"><img src="assets/images/header-icon.png" alt="icon" width="40"> Gheorge Wasington</div>
        </li>
        <li>
          <a href="#" class="header-right-button"><img src="assets/images/header-logout.png" alt="logout" width="23%"> log out</a>
        </li>
        <li>
          <a href="#" class="header-right-button">Ro <img src="assets/images/header-arrow.png" alt="arrow" width="23%"></a>
        </li>
      </ul>


  </div>

</nav>
