<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <br>
    <img src="assets/images/congrats.png" alt="congratulations">
    <br><br>
  </div>
  <h1 align="center" class="congrats">{{ 'congrats.congratulations' | translate }}</h1>

</div>
<br>
<div class="row">
  <div class="col-xs-12 congrats-message">
    <p>{{ 'congrats.message' | translate }}</p>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <button class="btn btn-block btn-success" (click)="onSend()">{{ 'buttons.submit' | translate }}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <button class="btn btn-block btn-link" (click)="onBack()">{{ 'buttons.back' | translate }}</button>
  </div>
</div>
