<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <br>
    <img src="assets/images/congrats.png" alt="congratulations">
    <br><br>
    <h1 class="congrats">Felicitari!</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 congrats-message">
    <p>Acum localul Dvs este gata de a fi trimis la administratorii StarClub la verificare.</p>
    <p>In scurt timp veti fi contactat de managerii proiectului.</p>
    <p>Pentru a trimite localul la aprobare selectati butonul Trimite. </p>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <button class="btn btn-block btn-success">Trimite</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <button class="btn btn-block btn-link">Back</button>
  </div>
</div>
