.upload {
}

.upload label:before,
.upload a:before {
  position: relative;
  content: url('../../assets/images/vertical-bar-divider.png');
  bottom: -4px;
  margin-right: 5px;
}

.name {
  font-weight: 500;
  font-size: 15px;
  color: #5d7081;
  text-transform: uppercase;
}

.upload p {
  display: inline;
}

.upload-btn {
  color: #30c171;
  cursor: pointer;
  font-weight: normal;
}

.upload-btn:hover {
  text-decoration: underline;
}

a.remove-btn {
  color: #ed1919;
  cursor: pointer;
}

.photo-frame-small {
  position: relative;
  margin-top: 5px;
  width: 100%;
  padding-top: 100%;
  border: 1px solid #b6c2cd;
  border-radius: 5px;
  background-size: 40%;
  overflow: hidden;
}

.photo-frame-small > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-height: 100%;
}

.photo-frame-big {
  position: relative;
  margin-top: 5px;
  width: 100%;
  padding-top: 75%;
  border: 1px solid #b6c2cd;
  border-radius: 5px;
  background-size: 25%;
  overflow: hidden;
}

.photo-frame-big > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-height: 100%;
}

.photo-icon {
  background-image: url('../../assets/images/photo.png');
  background-position: center;
  background-repeat: no-repeat;
}

.photo-icon-plus {
  background-image: url('../../assets/images/photo-plus.png');
  background-position: center;
  background-repeat: no-repeat;
}

.close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  background-image: url('../../assets/images/close.png');
  width: 9px;
  height: 9px;
  cursor: pointer;
}

