<div class="row">
  <div class="col-xs-12">
    <p class="title">{{ 'photos.title' | translate }}</p>
  </div>
</div>

<div class="row">
  <br>
  <div class="col-xs-12">
    <p>{{ 'photos.message' | translate }}</p>
  </div>
</div>
<!--====-->


<!--MINIATURE-->
<div class="row">
  <div class="col-md-6 col-xs-12">
    <br>
    <div class="upload">
      <p class="name">{{ 'photos.miniature' | translate }}</p>

      <label *ngIf="!miniatureSaved" class="upload-btn">
        <span *ngIf="!miniatureImageLoaded">{{ 'photos.upload' | translate }}<input type="file" (change)="fileChangeEvent($event, 'miniature')"
                                                         style="display: none;"/></span>
        <span *ngIf="miniatureImageLoaded" (click)="onSave('miniature')">{{ 'photos.save' | translate }}</span>
      </label>
      <a class="remove-btn" *ngIf="miniatureImageLoaded" (click)="onRemove('miniature')">{{ 'photos.remove' | translate }}</a>
      <div class="row">
        <div *ngIf="!miniatureSaved" class="col-xs-6">
          <div class="photo-frame-small photo-icon">
            <div>
              <image-cropper
                style="width: 100%;"
                [imageChangedEvent]="miniatureImageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1"
                [resizeToWidth]="750"
                format="png"
                (imageCropped)="imageCropped($event, 'miniature')"
                (imageLoaded)="onImageLoaded()"
                (loadImageFailed)="loadImageFailed()"
              ></image-cropper>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="photo-frame-small">
            <div>
              <img [src]="miniatureSaved? miniatureURL : miniatureCroppedImage" style="height: 100%; max-width: 100%"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!--BANNER-->
<div class="upload">
  <div class="row">
    <div class="col-xs-6">
      <p class="name">{{ 'photos.banner' | translate }}</p>
      <label *ngIf="!bannerSaved" class="upload-btn">
        <span *ngIf="!bannerImageLoaded">{{ 'photos.upload' | translate }}<input type="file" (change)="fileChangeEvent($event, 'banner')"
                                                      style="display: none;"/></span>
        <span *ngIf="bannerImageLoaded" (click)="onSave('banner')">{{ 'photos.save' | translate }}</span>
      </label>
      <a class="remove-btn" *ngIf="bannerImageLoaded" (click)="onRemove('banner')">{{ 'photos.remove' | translate }}</a>
    </div>
    <div *ngIf="!bannerSaved" class="col-xs-6">
      <p class="name">{{ 'photos.crop' | translate }}</p>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!bannerSaved" class="col-xs-6">
      <div class="photo-frame-big photo-icon">
        <div>
          <image-cropper
            style="width: 100%;"
            [imageChangedEvent]="bannerImageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            [resizeToWidth]="750"
            format="png"
            (imageCropped)="imageCropped($event, 'banner')"
            (imageLoaded)="onImageLoaded()"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="photo-frame-big">
        <div>
          <img [src]="bannerSaved? bannerURL : bannerCroppedImage" style="height: 100%; max-width: 100%"/>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<!--GALLERY-->
<div class="upload">
  <div class="row">
    <div class="col-xs-6">
      <p class="name">{{ 'photos.gallery' | translate }}</p>
      <label class="upload-btn">
        <span *ngIf="!galleryImageLoaded">{{ 'photos.upload' | translate }}<input type="file" (change)="fileChangeEvent($event, 'gallery')"
                                                       style="display: none;"/></span>
        <span *ngIf="galleryImageLoaded" (click)="onSave('gallery')">{{ 'photos.save' | translate }}</span>
      </label>
      <a class="remove-btn" *ngIf="galleryImageLoaded" (click)="onRemove('gallery')">{{ 'photos.remove' | translate }}</a>
    </div>
    <div class="col-xs-6">
      <p class="name">{{ 'photos.crop' | translate }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="photo-frame-big photo-icon">
        <div>
          <image-cropper
            style="width: 100%;"
            [imageChangedEvent]="galleryImageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            [resizeToWidth]="750"
            format="png"
            (imageCropped)="imageCropped($event, 'gallery')"
            (imageLoaded)="onImageLoaded()"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="photo-frame-big">
        <div>
          <img [src]="galleryCroppedImage" style="height: 100%; max-width: 100%"/>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngFor="let imgSrc of galleryURLs; let i = index" class="col-xs-6">
      <div class="photo-frame-big">
        <div>
          <div class="close-icon" (click)="onGalleryClose(i)"></div>
          <img src="{{ imgSrc }}" alt="img" style="height: 100%; max-width: 100%">
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="row">
  <div class="col-xs-12 col-md-9 col-md-offset-3">
    <div class="row">
      <div class="col-xs-4">
        <button class="btn btn-back btn-block" (click)="onBack()"><p class="btn-text">{{ 'buttons.back' | translate }}</p></button>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-block" (click)="onCancel()"><p class="btn-text">{{ 'buttons.cancel' | translate }}</p></button>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-success btn-block" (click)="onNext()"><p class="btn-text">{{ 'buttons.next' | translate }}</p></button>
      </div>
    </div>
  </div>
</div>

