<div class="row">
  <div class="col-xs-12">
    <p class="title"> PHOTOS</p>
  </div>
</div>

<div class="row">
  <br>
  <div class="col-xs-12">
    <p>Lorem Ipsum is simply dummy text of the printing and typesettind hen an unknown printer
      took a galley of type and scrambled it to make a type specimen book. scrambled it to make a type
      Lorem Ipsum is that it has a more-or-less normal. </p>
  </div>
</div>

<!--MINIATURE-->
<div class="row">
  <div class="col-md-6 col-xs-12">
    <br>
    <div class="upload">
      <p class="name">MINIATURE</p>
      <a href="#" class="upload-btn">Upload</a>
      <!--<a href="#" class="remove-btn">Remove</a>-->
      <div class="row">
        <div class="col-xs-6">
          <div class="photo-frame-small photo-icon"></div>
        </div>
        <div class="col-xs-6">
          <div class="photo-frame-small"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!--BANNER-->
<div class="upload">
  <div class="row">
    <div class="col-xs-6">
      <p class="name">BANNER</p>
      <a href="#" class="upload-btn">Upload</a>
      <!--<a href="#" class="remove-btn">Remove</a>-->
    </div>
    <div class="col-xs-6">
      <p class="name">CROP IMAGE</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="photo-frame-big photo-icon"></div>
    </div>
    <div class="col-xs-6">
      <div class="photo-frame-big"></div>
    </div>
  </div>
  <br>
</div>

<!--GALLERY-->
<div class="upload">
  <div class="row">
    <div class="col-xs-6">
      <p class="name">GALLERY</p>
      <a href="#" class="upload-btn">Upload</a>
      <a href="#" class="remove-btn">Remove</a>
    </div>
    <div class="col-xs-6">
      <p class="name">CROP IMAGE</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="photo-frame-big photo-icon"></div>
    </div>
    <div class="col-xs-6">
      <div class="photo-frame-big"></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6">
      <div class="photo-frame-big photo-icon-plus"></div>
    </div>
  </div>
  <br>
</div>

<!--Buttons-->
<div class="row">
  <br>
  <div class="col-xs-12 col-md-9 col-md-offset-3">
    <div class="row">
      <div class="col-xs-4">
        <button class="btn btn-back btn-block"><p class="btn-text">Back</p></button>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-block"><p class="btn-text">Cancel</p></button>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-success btn-block"><p class="btn-text">Next</p></button>
      </div>
    </div>

  </div>
</div>

