<app-header></app-header>
<div class="content">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <app-progress-bar></app-progress-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <div class="page">
        <router-outlet></router-outlet>
      </div>
      <!--<div class="page">-->
        <!--<app-location-info></app-location-info>-->
      <!--</div>-->
      <!--<div class="page">-->
        <!--<app-working-hours></app-working-hours>-->
      <!--</div>-->

      <!--<div class="page">-->
        <!--<app-contact-data></app-contact-data>-->
      <!--</div>-->

      <!--<div class="page">-->
        <!--<app-photos></app-photos>-->
      <!--</div>-->

      <!--<div class="page">-->
        <!--<app-filters></app-filters>-->
      <!--</div>-->

      <!--<div class="page">-->
        <!--<app-additions-and-prices></app-additions-and-prices>-->
      <!--</div>-->

      <!--<div class="page">-->
        <!--<app-congrats-last></app-congrats-last>-->
      <!--</div>-->
    <!--</div>-->
  </div>


</div>
<app-footer></app-footer>

