<app-header></app-header>
<div class="content">

  <div class="row">
    <div class="col-xs-6 col col-xs-offset-3">
      <app-progress-bar></app-progress-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="page">
        <app-location-info></app-location-info>
      </div>
      <div class="page">
        <app-working-hours></app-working-hours>
      </div>

      <div class="page">
        <app-contact-data></app-contact-data>
      </div>

      <div class="page">
        <app-photos></app-photos>
      </div>

      <div class="page">
        <app-filters></app-filters>
      </div>

      <div class="page">
        <app-additions-and-prices></app-additions-and-prices>
      </div>

      <div class="page">
        <app-congrats-last></app-congrats-last>
      </div>
    </div>
  </div>


</div>
<app-footer></app-footer>

