<div class="row">
  <div class="col-xs-12">
    <p class="title">{{ 'locationInfo.title' | translate }}</p>
  </div>
</div>
<form [formGroup]="locationInfoForm" (ngSubmit)="onNext()">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <label class="top-offset" for="company">{{ 'locationInfo.company' | translate }}</label>
      <input
        class="form-control"
        id="company"
        formControlName="company">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
        <span>
          <label class="top-offset" for="comercialName">{{ 'locationInfo.comercialName' | translate }}</label>
          <span
            *ngIf="!locationInfoForm.get('comercialName').valid && locationInfoForm.get('comercialName').touched"
            class="validation-advice validation-advice-text">
              <span *ngIf="locationInfoForm.get('comercialName').errors['required']">{{ 'advices.required' | translate }}</span>
              <span *ngIf="locationInfoForm.get('comercialName').errors['maxlength']">{{ 'advices.max25' | translate }}</span>
          </span>
        </span>
      <input
        class="form-control"
        id="comercialName"
        formControlName="comercialName">
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="row">
        <div class="col-md-6">
        <span>
            <label class="top-offset" for="discount">{{ 'locationInfo.discount' | translate }}</label>
            <span
              *ngIf="!locationInfoForm.get('discount').valid && locationInfoForm.get('discount').touched"
              class="validation-advice validation-advice-text">
              <span *ngIf="locationInfoForm.get('discount').errors['required']">{{ 'advices.required' | translate }}</span>
              <span
                *ngIf="locationInfoForm.get('discount').errors['invalidRange'] && !locationInfoForm.get('discount').errors['required']">7 - 100</span>
            </span>
          </span>
          <div class="input-group">
            <input
              class="form-control"
              formControlName="discount"
              type="number"
              id="discount"
              aria-describedby="AddonPercentage">
            <span class="input-group-addon" id="AddonPercetange">%</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="checkbox check">
            <label class="top-offset">
              <input type="checkbox" formControlName="reservation">
              {{ 'locationInfo.reservation' | translate }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <span>
      <label class="top-offset" for="category">{{ 'locationInfo.category' | translate }}</label>
      <span
        *ngIf="!locationInfoForm.get('category').valid && locationInfoForm.get('category').touched"
        class="validation-advice validation-advice-text"
      >{{ 'advices.required' | translate }}</span>
      </span>
      <select
        class="form-control"
        id="category"
        formControlName="category">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="col-md-6 col-xs-12">
    <span>
        <label class="top-offset" for="averagePrice">{{ 'locationInfo.averagePrice' | translate }}</label>
        <span
          *ngIf="!locationInfoForm.get('averagePrice').valid && locationInfoForm.get('averagePrice').touched"
          class="validation-advice validation-advice-text">
              <span *ngIf="locationInfoForm.get('averagePrice').errors['required']">{{ 'advices.required' | translate }}</span>
        </span>
      </span>
      <select
        class="form-control"
        id="averagePrice"
        formControlName="averagePrice">
        <option>100 - 200</option>
        <option>200 - 500</option>
        <option>500 - 1000</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <span>
      <label class="top-offset" for="descriptionRo">{{ 'locationInfo.descriptionRo' | translate }}</label>
      <span
        *ngIf="!locationInfoForm.get('descriptionRo').valid && locationInfoForm.get('descriptionRo').touched"
        class="validation-advice validation-advice-text">
              <span *ngIf="locationInfoForm.get('descriptionRo').errors['required']">{{ 'advices.required' | translate }}</span>
              <span *ngIf="locationInfoForm.get('descriptionRo').errors['maxlength']">{{ 'advices.max250' | translate }}</span>
          </span>
      </span>
      <textarea
        class="form-control"
        id="descriptionRo"
        rows="5"
        formControlName="descriptionRo"
      ></textarea>
    </div>
    <div class="col-md-6 col-xs-12">
      <span>
      <label class="top-offset" for="descriptionRu">{{ 'locationInfo.descriptionRu' | translate }}</label>
      <span class="validation-advice validation-advice-text"
            *ngIf="!locationInfoForm.get('descriptionRu').valid && locationInfoForm.get('descriptionRu').touched">
          <span *ngIf="locationInfoForm.get('descriptionRu').errors['required']">{{ 'advices.required' | translate }}</span>
          <span *ngIf="locationInfoForm.get('descriptionRu').errors['maxlength']">{{ 'advices.max250' | translate }}</span>
        </span>
      </span>
      <textarea
        class="form-control"
        id="descriptionRu"
        rows="5"
        formControlName="descriptionRu"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-6">
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-block" type="button" (click)="onCancel()"><p class="btn-text">
            {{ 'buttons.cancel' | translate }}</p>
          </button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-success btn-block" type="submit">{{ 'buttons.next' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</form>
