<div class="row">
  <div class="col-xs-12">
    <p class="title"> LOCATION INFO</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <label class="top-offset" for="denumire-juridica">Denumirea juridica</label>
    <input class="form-control" id="denumire-juridica" value="STAR HOLDING" disabled>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <label class="top-offset" for="denumire-comerciala">Denumirea comerciala</label>
      <input class="form-control" id="denumire-comerciala">
      <label class="top-offset" for="categorie">Categorie</label>
      <select class="form-control" id="categorie">
        <option>-</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <label class="top-offset" for="descriereRo">Descriere RO</label>
      <textarea class="form-control" id="descriereRo" rows="5"></textarea>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <label class="top-offset" for="reducere">Reducere</label>
        <div class="input-group">
          <input class="form-control" type="text" id="reducere" aria-describedby="AddonPercentage">
          <span class="input-group-addon" id="AddonPercetange">%</span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="checkbox check">
          <label class="top-offset"><input type="checkbox" value="">Activarea bronarii</label>
        </div>
      </div>
    </div>

    <label class="top-offset" for="select-suma">Selectati suma media comenzii unici</label>
    <select class="form-control" id="select-suma">
      <option>-</option>
      <option>100 - 200</option>
      <option>200 - 500</option>
      <option>500 - 1000</option>
    </select>

    <label class="top-offset" for="descriereRu">Descriere RU</label>
    <textarea class="form-control" id="descriereRu" rows="5"></textarea>
    <br>
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-block"><p class="btn-text">Cancel</p></button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-success btn-block">Next</button>
      </div>
    </div>
  </div>
</div>


