<div class="row">
  <div class="col-xs-12 col-md-9 col-md-offset-3">
    <div class="row">
      <div class="col-xs-4">
        <div [hidden]="!hasBack">
          <button class="btn btn-back btn-block" (click)="onBack()"><p class="btn-text">Back</p></button>
        </div>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-block"><p class="btn-text">Cancel</p></button>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-success btn-block" (click)="onNext()"><p class="btn-text">Next</p></button>
      </div>
    </div>
  </div>
</div>
