<div class="row">
  <div class="col-xs-12">
    <p class="title">Filters</p>
  </div>
</div>
<div class="row">
  <br>
  <div class="col-xs-12">
    <p style="text-transform: uppercase">specificați caracteristicile localului </p>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="filters">
    <div
      class="form-group"
      *ngFor="let f of filterNames; let i = index">
      <label class="top-offset">{{f}}</label>
      <iq-select2 css="form-control input-sm"
                  placeholder="Start writing..."
                  [formControlName]="i"
                  [dataSourceProvider]="listItems[i]"
                  [iqSelect2ItemAdapter]="entityToIqSelect2Item"
                  [minimumInputLength]='0'
                  referenceMode='entity'
                  [multiple]='true'
                  (onSelect)="onSelect($event)"
                  (onRemove)="onRemove($event)"
                  [selectedProvider]="getItems"
                  [clientMode]="true"
      ></iq-select2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-9 col-md-offset-3">
      <div class="row">
        <div class="col-xs-4">
          <button class="btn btn-back btn-block" type="button" (click)="onBack()"><p class="btn-text">Back</p></button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-block" type="button" (click)="onCancel()"><p class="btn-text">Cancel</p></button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block" type="submit"><p class="btn-text">Next</p></button>
        </div>
      </div>
    </div>
  </div>
</form>
