<div class="row">
  <div class="col-xs-12">
    <p class="title"> CONTACT DATA</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label class="top-offset" for="contact-first-name">Contact first name</label>
      <input class="form-control" id="contact-first-name">
      <label class="top-offset" for="contact-last-name">Contact last name</label>
      <input class="form-control" id="contact-last-name">
      <label class="top-offset" for="phone-number">Phone number</label>
      <input class="form-control" id="phone-number">
      <label class="top-offset" for="country">Country</label>
      <input class="form-control" id="country">
      <label class="top-offset" for="city">City</label>
      <input class="form-control" id="city">
      <label class="top-offset" for="street">Street</label>
      <input class="form-control" id="street">
      <label class="top-offset" for="post-code">Post Code</label>
      <input class="form-control" id="post-code">
    </div>
  </div>
  <div class="col-xs-6">
    <!--<app-google-maps-->
      <!--lat="51.507351"-->
      <!--lng="-0.127758"-->
      <!--apikey="AIzaSyBziYzXDbNPSuTisBwAIjfpM4jbuQth9mo">-->
    <!--</app-google-maps>-->
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-6 col-xs-6">
    <button class="btn btn-block"><p class="btn-text">Cancel</p></button>
  </div>
  <div class="col-md-3 col-xs-6">
    <button class="btn btn-success btn-block">Next</button>
  </div>
</div>


