/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Regular.ttf')  format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Bold.ttf')  format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('assets/fonts/roboto/Roboto-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/ubuntu/Ubuntu-R.ttf')  format('truetype');
}

body {
  background-image: url("assets/images/backgrond.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}
