<div class="row">
  <div class="col-xs-12">
    <p class="title"> WORKING HOURS</p>
  </div>
</div>
<!--From-To-->
<div class="row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-3">
        <p>De la</p>
      </div>
      <div class="col-xs-4">
        <p>Pana la</p>
      </div>
    </div>
  </div>
</div>
<!--Luni: -->
<div class="row">
  <div class="col-md-6 col-sm-12 line">
    <div class="row">
      <div class="col-xs-3">
        <p class="day">Luni:</p>
      </div>
      <div class="col-xs-4">
        <input class="form-control">
      </div>
      <div class="col-xs-1 arrow">
        <img src="../../assets/images/arrow.png" alt="-">
      </div>
      <div class="col-xs-4">
        <input class="form-control">
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 line">
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-success active">
        <input type="radio" name="options" autocomplete="off" checked>Open
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" autocomplete="off"> Closed
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" autocomplete="off"> 24/24
      </label>
    </div>
  </div>
</div>
<!--Marti:-->
<div class="row">
  <div class="col-md-6 col-sm-12 line">
    <div class="row">
      <div class="col-xs-3">
        <p class="day">Marti:</p>
      </div>
      <div class="col-xs-4">
        <input class="form-control">
      </div>
      <div class="col-xs-1 arrow">
        <img src="../../assets/images/arrow.png" alt="-">
      </div>
      <div class="col-xs-4">
        <input class="form-control">
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 line">
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="radio" name="options" autocomplete="off">Open
      </label>
      <label class="btn btn-danger">
        <input type="radio" name="options" autocomplete="off"checked> Closed
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" autocomplete="off"> 24/24
      </label>
    </div>
  </div>
</div>
<!--Miercuri:-->
<div class="row">
  <div class="col-md-6 col-sm-12 line">
    <div class="row">
      <div class="col-xs-3">
        <p class="day">Miercuri:</p>
      </div>
      <div class="col-xs-4">
        <input class="form-control">
      </div>
      <div class="col-xs-1 arrow">
        <img src="../../assets/images/arrow.png" alt="-">
      </div>
      <div class="col-xs-4">
        <input class="form-control">
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 line">
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="radio" name="options" autocomplete="off" >Open
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" autocomplete="off"> Closed
      </label>
      <label class="btn btn-info">
        <input type="radio" name="options" autocomplete="off" checked> 24/24
      </label>
    </div>
  </div>
</div>
<!--Bottom buttons-->
<div class="row">
  <div class="col-xs-12 col-md-9 col-md-offset-3">
      <div class="row">
        <div class="col-xs-4">
          <button class="btn btn-back btn-block"><p class="btn-text">Back</p></button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-block"><p class="btn-text">Cancel</p></button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block"><p class="btn-text">Next</p></button>
        </div>
      </div>

  </div>
</div>
